#Prueba de evaluación de conocimiento

##Tipo de datos
1. Numérico
- Entero: Entero
- Decimal: float
2. Alfanumérico o cadena de caracteres.
(String - str)
3. Lógico: Boolean - bool
4. Lista: list []
5. Diccionario: dic {}
Para saber qué tipo de dato estamos manejando se usa la función type()

In [ ]:
5+3*4

17

In [ ]:
type(5+3*4)

int

In [ ]:
print(f"5+3*4={5+3*4} y da como resultado un valor de tipo {type(5+3*4)}")

5+3*4=17 y da como resultado un valor de tipo <class 'int'>

In [ ]:
#Cuando se usa + en strings, sucede la concatenación
"5"+"3"*2

'533'

In [ ]:
#Un igual (=) es asignación. == es comparación
2 ** 11 == 1000

False

##Operaciones lógicas
1. Disyunción (o): Ua proposición es verdadera, si al menos una de ellas lo es. En python se puede enunciar con la palabra **or** o con **||**.
Ejemplo: V OR V da V. V OR F da V. F OR V da V. F OR F a F.
2. Conjunción (y): Una preposición es verdadera, si Y SOLO SI, ambas preposiciones son verdaderas. En python, se utiliza la palabra **and** o **&&** para su uso. Ejemplo: F and F da F; F and V da F; V and F da F; V and V da V.
3. Negación (no): Niega el valor de verdad de una proposición. Si el valor de verdad es true, se vuelve false. En python se usa la palabra ***not** o ~ para denotarla.

In [ ]:
a=2 ** 11 == 1000 or 2 ** 9 == 100

In [ ]:
print(f"El valor de la expresión a=2 ** 11 == 1000 or 2 ** 9 == 100 es {a}")

El valor de la expresión a=2 ** 11 == 1000 or 2 ** 9 == 100 es False

In [ ]:
#Colocar u tipo de dato antes del dato, se usa para transformar
#el dato que está dentro del paréntesis en el dato por fuera del paréntesis
int("cincuenta")

ValueError: invalid literal for int() with base 10: 'cincuenta'

In [ ]:
int("50")

50

In [ ]:
str("50")

'50'

In [ ]:
#Siempre que haya una división, el resultado dará float/decial
b=16/16 + 384/24

In [ ]:
print(f"El valor de la expresion b=16/16 + 382/24 es {b} {type(b)}")

El valor de la expresion b=16/16 + 382/24 es 17.0 <class 'float'>

In [ ]:
# % es el módulo de la operación
600 + 18%2

600

In [ ]:
0 < (4096 % 10) > 6

False

In [ ]:
b='Max' + 'Min'

In [ ]:
print(f"El valor de la expresion 'Max' + 'Min' es {b} {type(b)}")

El valor de la expresion 'Max' + 'Min' es MaxMin <class 'str'>

In [ ]:
#ABC() es una función no definida
#ABC() * DEF()

In [ ]:
float(-int("7")+ int (90))

83.0

In [ ]:
+{´+++}